absl-py==1.4.0
astunparse==1.6.3
-e git+https://github.com/openai/baselines.git@ea25b9e8b234e6ee1bca43083f8f3cf974143998#egg=baselines
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==1.2.2
cmake==3.27.2
contourpy==1.1.0
-e git+https://github.com/vita-epfl/CrowdNav.git@20d678085c06831e658a65b9e20c8bb6f6ecdc10#egg=crowdnav
cycler==0.11.0
Cython==3.0.2
dm-control==1.0.14
dm-env==1.6
dm-tree==0.1.8
dmc2gym==1.0.0
Farama-Notifications==0.0.4
filelock==3.12.3
flatbuffers==23.5.26
fonttools==4.42.1
future==0.18.3
gast==0.4.0
gitdb==4.0.10
GitPython==3.1.34
glfw==2.6.2
google-auth==2.22.0
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
grpcio==1.57.0
gym==0.15.7
gymnasium==0.29.1
h5py==3.9.0
idna==3.4
imageio==2.31.3
Jinja2==3.1.2
joblib==1.3.2
keras==2.13.1
kiwisolver==1.4.5
labmaze==1.0.6
lazy_loader==0.3
libclang==16.0.6
lit==16.0.6
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
metaworld @ git+https://github.com/rlworkgroup/metaworld.git@d155d0051630bb365ea6a824e02c66c068947439
mpmath==1.3.0
mujoco==2.3.7
networkx==3.1
numpy==1.24.3
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
oauthlib==3.2.2
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opt-einsum==3.3.0
packaging==23.1
pandas==2.1.0
Pillow==10.0.0
protobuf==4.24.2
psutil==5.9.5
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybullet==3.2.5
pyg-lib==0.2.0+pt20cu117
pyglet==1.5.0
PyOpenGL==3.1.7
pyparsing==3.0.9
pyrvo2==0.0.0
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.21.0
scikit-learn==1.3.0
scipy==1.11.2
six==1.16.0
smmap==5.0.0
sympy==1.12
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.33.0
termcolor==2.3.0
threadpoolctl==3.2.0
tifffile==2023.8.30
torch==2.0.1
torch-cluster==1.6.1+pt20cu117
torch-geometric==2.3.1
torch-scatter==2.1.1+pt20cu117
torch-sparse==0.6.17+pt20cu117
torch-spline-conv==1.2.2+pt20cu117
torchaudio==2.0.2
torchvision==0.15.2
tqdm==4.66.1
triton==2.0.0
typing_extensions==4.5.0
tzdata==2023.3
urllib3==1.26.16
Werkzeug==2.3.7
wrapt==1.15.0
